body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

@keyframes rainbow {
    0% {
        width: 50px;
        height: 50px;
    }
    60% {
        width: 150px;
        height: 200px;
        filter: blur(30);
        transform: translate(10rem, 10rem);
    }
    90% {
        height: 200px;
        width: 200px;
    }
    100% {

    }
}

h1 {
    font-size: 36px;
    text-shadow: 2px 2px #f00000;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-size: 24px;
}

pre {
    font-family: 'Courier New', monospace; /* Schriftart für Code */
    font-size: 14px; /* Schriftgröße anpassen */
    line-height: 1.5; /* Zeilenabstand anpassen */
    background-color: #f5f5f5; /* Hintergrundfarbe anpassen */
    padding: 10px; /* Innenabstand hinzufügen, um den Text vom Rand zu trennen */
    border: 1px solid #ccc; /* Einen dünnen Rahmen hinzufügen */
    border-radius: 5px; /* Abrundung der Ecken für eine bessere Optik */
    white-space: pre-wrap; /* Umbruch von langen Zeilen ermöglichen */
}



#li1 {
    font-family: "Times New Roman", "Garamond", serif;
}

#li2 {
    font-family: "Helvetica", Arial, sans-serif;
}

#li3 {
    font-family: "Courier New", "Lucida Console", monospace;
}

#li4 {
    font-family: "Brush Script MT", cursive;
}

#li5 {
    font-family: "Papyrus", "Copperplate Gothic Bold", fantasy;
}

div {
    font-family: "Times New Roman", serif;
}

h1, h2, h3 {
    font-family: "Helvetica", sans-serif;
}

#li6 {
    font-style: normal;
}

#li7 {
    font-style: italic;
}

#li8 {
    font-style: oblique;
}