body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgrey;
    margin: 1rem;
    margin-inline: 10%;
}

.main-header {
    text-align: center;
    font-size: larger;
    color: black;
    background-color: #808080;
    padding: 1rem;    
    border-radius: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.main-title {
    font-weight: 100;
}

.default {
    background-color: lightgray; color: black;
}
.default:hover {
    background: lightgray;
}

#heading{
    text-align: center;
}

#myCheatsheet a {
    position: absolute;
    left: -90px;
    transition: 0.3s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 10px 10px 0; /* Abrundung */
}

#myCheatsheet a:hover {
    left: 0;
}

#General {
    top: 100px;
    background-color: #04AA6D;
}

#HTML {
    top: 160px;
    background-color: green;
}

#CSS {
    top: 220px;
    background-color: blue;
}

#Bootstrap {
    top: 280px;
    background-color: yellow;
}

dt {
    margin-inline-start: 40px;
}

dd{
    margin-inline-start: auto;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }

#box_model_picture {
    height: 200px;
    width: 340px;   
    float: right; 
    margin-top: 4rem;
}

#box_model_list {
    float: left;
}

.home-button {
    text-align: center;
    font-size: larger;
    color: black;
    background-image: linear-gradient(to bottom right, grey, lightgray);
    padding: 1rem;    
    border-radius: 10px;    
}

.home-button h2{
    display: inline;    
}

.home-button a {
    float: left;        
}

.return-picture {
    height: 2rem;
    width: 2rem;
}

@keyframes header-animation {
    0%{
        margin-top: -20rem;
    }
    100%{
        margin-top: 0;
    }
}

#heading {
    animation: header-animation 2s ease-in-out forwards;
}

.home-button {
    animation: header-animation 1s ease-in-out forwards;
}

#links a {
    text-decoration: none;
    color: black;
    border-radius: 0.2rem;
    background-color: grey;
}

h3 {
    margin-top: 2%;
}

#img-right {
    width: 12rem;
    height: 17rem;
    margin-left: 35rem;
    padding-top: 5rem;
}

#img-left {
   margin-left: 5rem;
   border-radius: 30%;
}